# Revisão Python

## Versão do Pythton

In [ ]:
!python --version

Python 3.7.13

## Impressão

In [ ]:
# impressão simples
print('Olá mundo!')

# impressão concatenada
print('Olá'+ ' '+ 'mundo!')

# impressão de variável
nome = 'Jane Doe'
print(nome)

# impressão combinada de variável
print('Olá, '+nome)

# impressão string formatada 
print('Olá, {}! Como vai?'.format(nome))

# impressão de variável exclusiva do colab (colocar variável (uma ou mais) na ultima linha de um container de código)
nome, type(nome)

Olá mundo!
Olá mundo!
Jane Doe
Olá, Jane Doe
Olá, Jane Doe! Como vai?

('Jane Doe', str)

## Tipos Básicos

### Números

In [ ]:
variavel_um = 5
print('variavel_um:', variavel_um, type(variavel_um))

variavel_um: 5 <class 'int'>

In [ ]:
print('adição\n', variavel_um + 1)   # adição 
print('subtração\n', variavel_um - 1)   # subtração
print('multiplicação\n', variavel_um * 2)   # multiplicação
print('exponenciação\n', variavel_um ** 2)  # exponenciação
print('divisão\n', variavel_um / 2)   # divisão
print('resto\n', variavel_um % 2)   # resto

adição
 6
subtração
 4
multiplicação
 10
exponenciação
 25
divisão
 2.5
resto
 1

In [ ]:
# alteração de variável
variavel_dois = variavel_um
variavel_um = variavel_um + 1
variavel_dois += 1
print('adição:\t\t', variavel_um, variavel_dois)

variavel_um = variavel_um * 10
variavel_dois *= 10
print('multiplicação:\t', variavel_um, variavel_dois)

variavel_um = variavel_um / 5
variavel_dois /= 5
print('divisão:\t', variavel_um, variavel_dois)

adição:		 6 6
multiplicação:	 60 60
divisão:	 12.0 12.0

In [ ]:
variavel_tres = 2.5
print(type(variavel_tres))
print('variavel_tres', variavel_tres, variavel_tres + 1, variavel_tres * 2, variavel_tres ** 2, variavel_tres / 3)

<class 'float'>
variavel_tres 2.5 3.5 5.0 6.25 0.8333333333333334

### Lógico

In [ ]:
t, f = True, False
print(t, f)
print(type(t), type(f))

True False
<class 'bool'> <class 'bool'>

Operações...

In [ ]:
print(t and f) # E / && / AND;
print(t or f)  # OU / || / OR;
print(not t)   # NÃO / NOT;
print(t != f)  # XOR;

False
True
False
True

### Containers

#### Listas

In [ ]:
# Cria uma lista de 3 elementos
lista = [3, 1, 2]
print(lista, lista[2])

# imprime ultima posição; prints "2"
print(lista[-1])     

# imprime penultima posição; prints "1"
print(lista[-2])

[3, 1, 2] 2
2
1

In [ ]:
# Listas podem receber elementos de tipos diferentes
lista[2] = 'foo'
print(lista)

[3, 1, 'foo']

In [ ]:
# inclusao de elemento no fim da lista
lista.append('bar')
print(lista)

[3, 1, 'foo', 'bar']

In [ ]:
# remove e retorna o ultimo elemento da lista
elemento_removido = lista.pop()     # Remove and return the last element of the list
print(elemento_removido, lista)

bar [3, 1, 'foo']

##### Manipulação e transformação em Listas

In [ ]:
# slicing/fatia
# cria uma lista com a funcao range
numeros = list(range(5))    # range is a built-in function that creates a list of integers

# "[0, 1, 2, 3, 4]"
print(numeros)         

# pega uma fatia a lista do índice 2 to 4 (limite, nao inclui essa posicao): "[2, 3]"
print(numeros[2:4])    

# # pega todos os elementos da lista a partir da posicao 2: "[2, 3, 4]"
print(numeros[2:])     

# pega uma fatia da lista contendo as duas primeiras posições "[0, 1]"
print(numeros[:2])

# pega uma fatia da lista contendo todos os elementos
print(numeros[:])

# imprime todos os elmentos, menos a última posição ["0, 1, 2, 3]"
print(numeros[:-1])

# atribui 8 e 9 no intervalo 2-4 (posições 2 e 3)
numeros[2:4] = [8, 9]  # Assign a new sublist to a slice

# imprime "[0, 1, 8, 9, 4]"
print(numeros)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

Percorrendo itens de listas

In [ ]:
animais = ['cat', 'dog', 'monkey']
animais

['cat', 'dog', 'monkey']

In [ ]:
# percorrendo listas

#  loop em lista - percorrendo itens
print('loop em lista - percorrendo itens')
for animal in animais:
    print('loop1:', animal)


#  loop em lista - percorrendo itens
print('loop em lista - percorrendo índices')
for i in range(len(animais)):
  print('loop2', animais[i])


#  loop em lista - percorrendo itens e posicoes
print('loop em lista - percorrendo índices e posicoes')
for idx, animal in enumerate(animais):
    print('loop3: #{}: {}'.format(idx + 1, animal))

loop em lista - percorrendo itens
loop1: cat
loop1: dog
loop1: monkey
loop em lista - percorrendo índices
loop2 cat
loop2 dog
loop2 monkey
loop em lista - percorrendo índices e posicoes
loop3: #1: cat
loop3: #2: dog
loop3: #3: monkey

Alteração e transferencia de dados de listas...

In [ ]:
numeros = [0, 1, 2, 3, 4]
numeros

[0, 1, 2, 3, 4]

In [ ]:
# forma mais verbosa
potencias2 = []
for x in numeros:
    potencias2.append(x ** 2)
print(potencias2)

[0, 1, 4, 9, 16]

In [ ]:
# forma menos verbosa
potencias2 = [x ** 2 for x in numeros]
print(potencias2)

[0, 1, 4, 9, 16]

#### Dicionários

In [ ]:
dicionario = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
dicionario, type(dicionario)

({'cat': 'cute', 'dog': 'furry'}, dict)

In [ ]:
# valor do dicionario, na chave 'cat'
print(dicionario['cat'])
# verifica se campo 'cat' existe no dicionario
print('cat' in dicionario)

cute
True

In [ ]:
# altera valor de dicionario, na chave 'cat'
dicionario['cat'] = 'really cute'
dicionario

{'cat': 'really cute', 'dog': 'furry'}

In [ ]:
# recupera o valor do dicionado na chave 'cat', retorna 'N/A' como valor padrao caso nao hava valor
print(dicionario.get('cat', 'N/A'))
print(dicionario.get('cat_dog', 'N/A'))

really cute
N/A

percorrendo dicionarios

In [ ]:
dicionarios = {'person': 2, 'cat': 4, 'spider': 8}
dicionarios, type(dicionarios)

({'cat': 4, 'person': 2, 'spider': 8}, dict)

In [ ]:
for animal, pernas in dicionario.items():
    print('Animal {} tem {} legs'.format(animal, pernas))

Animal cat tem really cute legs
Animal dog tem furry legs

transferencia de dados em dicionarios

In [ ]:
numero_par_ao_quadrado = {x: x ** 2 for x in numeros if x % 2 == 0}
print(numeros)
print(numero_par_ao_quadrado)

[0, 1, 2, 3, 4]
{0: 0, 2: 4, 4: 16}

#### Sets

coleção não ordenada

In [ ]:
animais = {'cat', 'beaver', 'dog', 'bee'}
animais, type(animais)

In [ ]:
# verifica se 'cat' e 'fish' estão em set
print('cat' in animais)
print('fish' in animais)

In [ ]:
animais.add('fish')      # Add an element to a set
print('fish' in animais)
print(len(animais))
animais

In [ ]:
# adicionar item que ja existe, nao interfere em nada e o item nao é adicionado
animais.add('cat')       
print(animais, len(animais))      
#  remove item do set 
animais.remove('cat')
print(animais, len(animais))

percorrendo um set

In [ ]:
for idx, animal in enumerate(animais):
    print('#{}: {}'.format(idx + 1, animal))

criando um set de forma menos verbosa

In [ ]:
# raiz quadrada
from math import sqrt


print({int(sqrt(x)) for x in range(30)})

#### Tuplas

Lista de valores imutaveis

In [ ]:
dicionario_tuplas = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
print(dicionario_tuplas)
print(type(dicionario_tuplas))
tupla = (5, 6)       # Create a tuple
print(type(tupla))
print(dicionario_tuplas[tupla])       
print(dicionario_tuplas[(1, 2)])

### Funções

In [ ]:
def sinal(x):
    if x > 0:
        return 'positivo'
    elif x < 0:
        return 'negativo'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sinal(x))

função com valor opcional é aquele tem tem um valor padrão definido

In [ ]:
def saudacao(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

saudacao('Bob')
saudacao('Fred', loud=True)

# Introdução ao Pandas

https://pandas.pydata.org/docs/reference/index.html#api

In [ ]:
import pandas as pd

dicionário

In [ ]:
dicionario = {'a': 1, 'b': 2, 'c': 3}
dicionario, type(dicionario)

({'a': 1, 'b': 2, 'c': 3}, dict)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Série
https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series



![Screenshot from 2022-02-06 19-04-58.png]()

In [ ]:
# com índices conhecidos
serie = pd.Series(data=dicionario, name='exemplo1', index=['a', 'b', 'c'])
serie

In [ ]:
# com índides desconhecidos
serie = pd.Series(data=dicionario, name='exemplo2', index=['x', 'y', 'z'])
serie

### Dataframe

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame

In [ ]:
dicionario = {'col1': [1, 2], 'col2': [3, 4]}
dicionario, type(dicionario)

In [ ]:
data_frame = pd.DataFrame(data=dicionario)
print(type(data_frame))
data_frame

# Carregamento de Dados com Pandas

documentação: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

exemplo dos slides...



```
import pandas as pd 

df = pd.read_csv('file_name.csv')# Carrega um CSV que está no mesmo diretório
df							# retorna todas as linhas e colunas do dataframe
```

O colab já traz uns CSVs por padrão

![Screenshot from 2022-02-06 19-15-53.png]()

In [ ]:
data_frame = pd.read_csv('sample_data/california_housing_train.csv')

data_frame

# **EXERCÍCIOS DA AULA**

## Python Básico

1. Crie um dicionário cujas chaves representam os 10 primeiros itens da sequencia de fibonacci e os valores representem a raiz quadrada da sua respectiva chave.
 - **utilize o conhecimento de função e impressão de chave e valor de um dicionário**

In [ ]:
import sys
import math



def fibonacci(dic,fib):
    return round((((1 + math.sqrt(5)) / 2)**fib) / math.sqrt(5))

if __name__ == "__main__":

    fib = lambda fib: round((((1 + math.sqrt(5)) / 2)**fib) / math.sqrt(5))
    for i in range(10):
        print(fib(i+1))

1
1
2
3
5
8
13
21
34
55

## Pandas - Carregamento de Dados

2. Ler, separadamente, todos os CSVs presentes na pasta `sample` do colab como dataframe, utilizando a função read_csv do pandas

In [ ]:
import pandas as pd

df_teste = pd.read_csv('/content/sample_data/california_housing_test.csv')
df_teste

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
import pandas as pd
df_train = pd.read_csv('/content/sample_data/california_housing_train.csv')
df_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
import pandas as pd
df_mnist_teste = pd.read_csv('/content/sample_data/mnist_test.csv')
df_mnist_teste

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd
df_mnist_train_small = pd.read_csv('/content/sample_data/mnist_train_small.csv')
df_mnist_train_small

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

3. utilizando a mesma função, leia o CSV 
dica: leia a documentação do pandas para ver como é sugerido lidar com links
- link do csv: https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv
- dica: atenção para a propriedade `delimiter` do `read_csv`

In [ ]:
import pandas as pd

url = 'https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv'
df_factbook = pd.read_csv(url, sep=';')

df_factbook

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

**[EXTRA]** A partir da a ultilizaçao do dataframe da última questão, que informações é possível obter além do próprio [dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) fornecido?

In [ ]:
import pandas as pd
url = 'https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv'
df_factbook = pd.read_csv(url, sep=';')

### visualiza as primeiras 6 linhas do conjunto de dados: 
df_factbook.head(n=6)

### visualiza as últimas 5 linhas do conjunto de dados:
df_factbook.tail()

### resumo das informações das colunas
df_factbook.describe()

### tipos de dados em cada coluna
df_factbook.dtypes

### quantidade total de linhas e colunas
df_factbook.shape

### resumo conciso do conjunto de dados
df_factbook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 45 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         264 non-null    object
 1   Area(sq km)                                     264 non-null    object
 2   Birth rate(births/1000 population)              226 non-null    object
 3   Current account balance                         150 non-null    object
 4   Death rate(deaths/1000 population)              226 non-null    object
 5   Debt - external                                 202 non-null    object
 6   Electricity - consumption(kWh)                  216 non-null    object
 7   Electricity - production(kWh)                   214 non-null    object
 8   Exports                                         225 non-null    object
 9   GDP                                             231 non-null    object
 10  GDP - per capita                                231 non-null    object
 11  GDP - real growth rate(%)                       213 non-null    object
 12  HIV/AIDS - adult prevalence rate(%)             169 non-null    object
 13  HIV/AIDS - deaths                               149 non-null    object
 14  HIV/AIDS - people living with HIV/AIDS          165 non-null    object
 15  Highways(km)                                    231 non-null    object
 16  Imports                                         225 non-null    object
 17  Industrial production growth rate(%)            165 non-null    object
 18  Infant mortality rate(deaths/1000 live births)  226 non-null    object
 19  Inflation rate (consumer prices)(%)             223 non-null    object
 20  Internet hosts                                  192 non-null    object
 21  Internet users                                  217 non-null    object
 22  Investment (gross fixed)(% of GDP)              147 non-null    object
 23  Labor force                                     215 non-null    object
 24  Life expectancy at birth(years)                 226 non-null    object
 25  Military expenditures - dollar figure           171 non-null    object
 26  Military expenditures - percent of GDP(%)       166 non-null    object
 27  Natural gas - consumption(cu m)                 109 non-null    object
 28  Natural gas - exports(cu m)                     109 non-null    object
 29  Natural gas - imports(cu m)                     109 non-null    object
 30  Natural gas - production(cu m)                  108 non-null    object
 31  Natural gas - proved reserves(cu m)             98 non-null     object
 32  Oil - consumption(bbl/day)                      213 non-null    object
 33  Oil - exports(bbl/day)                          59 non-null     object
 34  Oil - imports(bbl/day)                          47 non-null     object
 35  Oil - production(bbl/day)                       213 non-null    object
 36  Oil - proved reserves(bbl)                      98 non-null     object
 37  Population                                      239 non-null    object
 38  Public debt(% of GDP)                           109 non-null    object
 39  Railways(km)                                    135 non-null    object
 40  Reserves of foreign exchange & gold             148 non-null    object
 41  Telephones - main lines in use                  233 non-null    object
 42  Telephones - mobile cellular                    229 non-null    object
 43  Total fertility rate(children born/woman)       226 non-null    object
 44  Unemployment rate(%)                            193 non-null    object
dtypes: object(45)
memory usage: 92.9+ KB